@model HomeViewModel

<div id="clubs-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#clubs-carousel" data-slide-to="0" class="active"></li>
        @for (int i = 1; i < Model.Clubs.Count(); i++)
        {
            <li data-target="#clubs-carousel" data-slide-to="@i"></li>
        }
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <a asp-controller="Clubs" asp-action="GetSpecificClub" asp-route-clubName="@Model.Clubs.FirstOrDefault().ClubName">
                <img class="slide-image" src="@Url.Content(Model.Clubs.FirstOrDefault().ClubImageUrl)" alt="@Model.Clubs.FirstOrDefault().ClubName Logo">
            </a>
        </div>
        @foreach (var c in Model.Clubs.Skip(1))
        {
            <div class="item">
                <a asp-controller="Clubs" asp-action="GetSpecificClub" asp-route-clubName="@c.ClubName">
                    <img class="slide-image" src="@Url.Content(c.ClubImageUrl)" alt="@c.ClubName Logo">
                </a>
            </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#clubs-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#clubs-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>